/*
Custom Styles here.
ref：https://v1.vuepress.vuejs.org/config/#index-styl
https://github.com/leo-buneev/vuepress-plugin-fulltext-search/blob/master/components/SearchBox.vue
*/

video {
    width:360px;
}

img[src*="#small"] {
    width:24px;
    pointer-events:none;
}

img[src*="#medium"] {
    width:32px;
    pointer-events:none;
}

.medium-zoom-overlay
    background: #262322 !important

.search-box .suggestion a
    .page-title
        border-color $borderDarkColor !important
        background $searchLeftBg !important
    .parent-page-title
        background $searchHeaderBg !important
    .suggestion-row .suggestion-content
        border-color $borderDarkColor !important
        background $searchRightBg !important
