/*
Custom palette here.
ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl

https://github.com/tolking/vuepress-theme-default-prefers-color-scheme/blob/master/styles/palette.styl#L60
*/

$accentColor = #ebbe6c
$bgColor = #262322

$accentDarkColor = $accentColor
$bgDarkColor = $bgColor

$tipDarkColor = $badgeTipColor
$errorDarkColor = $badgeErrorColor


// $searchLeftBg = #363230
$searchHeaderBg = #363230
$searchLeftBg = $bgColor
$searchRightBg = $bgColor
