Options +FollowSymlinks

# no directory listing
Options -Indexes

ErrorDocument 404 /404

RewriteEngine on

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Redirect /404 to homepage
RewriteCond %{REQUEST_URI} ^/404
RewriteRule ^.*$ https://%{HTTP_HOST}/ [R=301,L]

# Redirect /index.html to /
RewriteCond %{REQUEST_URI} !^/manual
RewriteRule ^index\.html$ / [R=301,L]

# Redirect explicit .html requests to extensionless URL
RewriteCond %{REQUEST_URI} !^/manual
RewriteCond %{THE_REQUEST} \s/([^\s]+)\.html
RewriteRule ^([^\s]+)\.html$ /$1 [R=301,L,QSA]

# Remove trailing slash
RewriteCond %{REQUEST_URI} !^/manual
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Compression rules
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
Header set Access-Control-Allow-Headers "origin, accept, x-requested-with, content-type"

AddType application/wasm wasm
